<{{tag}} class="{{getRootClasses}}" {{{type}}} {{{href}}} {{{target}}} {{{jshandle}}}>
  {{#iconHtml}}
    <div class="icon">
      {{{iconHtml}}}
    </div>
  {{/iconHtml}}
  {{# hasLabels}}
    <div class="labels">
      {{#label}}
        <div class="label">{{label}}</div>
      {{/label}}
      {{#sublabel}}
        <div class="sublabel">{{sublabel}}</div>
      {{/sublabel}}
    </div>
  {{/ hasLabels}}
</{{tag}}>
