<a href="{{url}}" class="{{getRootClasses}}" {{target}}>
  {{{iconHtml}}}
  <div>
    {{#label}}
      <span class="label">{{label}}</span>
    {{/label}}
    {{#sublabel}}
      <span class="sublabel">{{sublabel}}</span>
    {{/sublabel}}
  </div>
</a>
