<div class="{{getRootClasses}} fieldRow" {{{jshandle}}}>
  {{# label}}
    <label {{{labelRequiredClass}}} for="{{name}}">{{label}}</label>
  {{/ label}}
  {{# description}}
    <div class="fieldDescription">{{{description}}}</div>
  {{/ description}}
  <div class="field">
    {{{fieldHtml}}}
  </div>
</div>
