<div class="{{getRootClasses}} fieldRow" {{jshandle}}>
  {{# label}}
    <label {{{labelRequiredClass}}} for="{{name}}">{{label}}</label>
  {{/ label}}
  <div class="field">
    {{{fieldHtml}}}
  </div>
</div>
