<div class="{{getRootClasses}}" {{{jshandle}}}>
  <div class="field">
    {{{fieldHtml}}}
    <label {{{labelRequiredClass}}} for="{{name}}">
      {{label}}
      {{# description}}
        <span class="fieldDescription">{{{description}}}</span>
      {{/ description}}
    </label>
  </div>
</div>
