{{# hasEntries}}
  <{{tag}} class="{{getRootClasses}}">
    {{# entries}}
      <li>
        {{{ . }}}
      </li>
    {{/ entries}}
  </{{tag}}>
{{/ hasEntries}}
{{^ hasEntries}}
  {{{noEntriesHtml}}}
{{/ hasEntries}}
